bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/HomeTaskScheduler.UI/node_modules
/HomeTaskScheduler.UI/api-gen/node_modules
/HomeTaskScheduler.sln.DotSettings.user
/HomeTaskScheduler.API/appsettings.Development.json
/HomeTaskScheduler.API/appsettings.json
